<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="betaGatewayApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="betaGatewayApp.customer.firstName">First Name</span></dt>
                <dd>
                    <span>{{customer.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="betaGatewayApp.customer.lastName">Last Name</span></dt>
                <dd>
                    <span>{{customer.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="betaGatewayApp.customer.organization">Organization</span></dt>
                <dd>
                    <span>{{customer.organization}}</span>
                </dd>
                <dt><span jhiTranslate="betaGatewayApp.customer.email">Email</span></dt>
                <dd>
                    <span>{{customer.email}}</span>
                </dd>
                <dt><span jhiTranslate="betaGatewayApp.customer.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{customer.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="betaGatewayApp.customer.accountAddress">Account Address</span></dt>
                <dd>
                    <span>{{customer.accountAddress}}</span>
                </dd>
                <dt><span jhiTranslate="betaGatewayApp.customer.user">User</span></dt>
                <dd>
                    <div *ngIf="customer.user">
                        <a [routerLink]="['/my-user', customer.user?.id, 'view']">{{customer.user?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
